In [ ]:
import pandas as pd
from string import ascii_uppercase as alfabeto

WEB SCRAPPING

In [ ]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [ ]:
all_tables[12]
all_tables[19]
all_tables[26]
all_tables[33]
all_tables[40]
all_tables[47]
all_tables[54]
all_tables[61]

In [ ]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')
dict_tables = {}

for letra,i in zip(alfabeto,range(12, 67,7)):
  df = all_tables[i]
  df.rename(columns={df.columns[1]:'Team'}, inplace =True)
  df.pop('Qualification')
  dict_tables[f'Group {letra}'] = df

In [ ]:
dict_tables['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0

In [ ]:
import pickle
with open('dict_table', 'wb') as output:
  pickle.dump(dict_tables, output)

In [ ]:
!pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4) (4.6.3)

In [ ]:
!pip install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (4.9.1)

In [ ]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,
         1994,1998,2002,2006,2010,2014,2018]

def get_matches(year):       

  web = f'https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'

  response = requests.get(web)
  content = response.text
  soup = BeautifulSoup(content,'lxml')

  matches = soup.find_all('div', class_='footballbox')

  home = []
  score = []
  away = []

  for match in matches:
    home.append(match.find('th', class_='fhome').get_text())
    score.append(match.find('th', class_='fscore').get_text())
    away.append(match.find('th', class_='faway').get_text())

  dict_footbal = {
      'home': home,
      'score':score,
      'away': away
  }

  df_football = pd.DataFrame(dict_footbal)
  df_football['year'] = year

  return df_football


# results: historical data
fifa = [get_matches(year) for year in years]
df_fifa = pd.concat(fifa, ignore_index=True)
df_fifa.to_csv("fifa_worldcup_historical_data.csv", index=False)

# fixture
df_fixture = get_matches(2022)
df_fixture.to_csv('fifa_worldcup_fixture.csv', index=False)