In [142]:
#La Oficina del Censo de EE. UU. ha publicado los datos del censo de California, que tiene 10 tipos de métricas, 
#como la población, el ingreso medio, el precio medio de la vivienda, etc., para cada grupo de bloques en California.
#El conjunto de datos también sirve como entrada para el alcance del proyecto e intenta especificar los requisitos 
#funcionales y no funcionales del mismo.
"""El proyecto tiene como objetivo construir un modelo de precios de la vivienda para predecir el valor medio de la vivienda en
California utilizando el conjunto de datos proporcionado. Este modelo debería aprender de los datos y poder predecir el precio
medio de la vivienda en cualquier distrito, dadas todas las demás métricas.
Los distritos o grupos de bloques son las unidades geográficas más pequeñas para las que la Oficina del Censo de EE . UU
. publica datos de muestra (un grupo de bloques suele tener una población de 600 a 3000 personas). Hay 20.640 distritos en 
el conjunto de datos del proyecto
"""

'El proyecto tiene como objetivo construir un modelo de precios de la vivienda para predecir el valor medio de la vivienda en\nCalifornia utilizando el conjunto de datos proporcionado. Este modelo debería aprender de los datos y poder predecir el precio\nmedio de la vivienda en cualquier distrito, dadas todas las demás métricas.\nLos distritos o grupos de bloques son las unidades geográficas más pequeñas para las que la Oficina del Censo de EE . UU\n. publica datos de muestra (un grupo de bloques suele tener una población de 600 a 3000 personas). Hay 20.640 distritos en \nel conjunto de datos del proyecto\n'

In [143]:
#Library Importations
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [144]:
data = pd.read_excel('C:\\Users\\CRISTIAN\\Desktop\\housing.xlsx')
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY,452600
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY,358500
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY,352100
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY,341300
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY,342200
5,-122.25,37.85,52,919,213.0,413,193,4.0368,NEAR BAY,269700
6,-122.25,37.84,52,2535,489.0,1094,514,3.6591,NEAR BAY,299200
7,-122.25,37.84,52,3104,687.0,1157,647,3.1200,NEAR BAY,241400
8,-122.26,37.84,42,2555,665.0,1206,595,2.0804,NEAR BAY,226700
9,-122.25,37.84,52,3549,707.0,1551,714,3.6912,NEAR BAY,261100

In [145]:
print(f'Data Shape: {data.shape}')

Data Shape: (20640, 10)

In [146]:
X, y = data[['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income','ocean_proximity']], data[['median_house_value']]
print(X.shape)
print(y.shape)

(20640, 9)
(20640, 1)

In [147]:
#searching values null or nan
X.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

In [148]:
y.isnull().sum()

median_house_value    0
dtype: int64

In [149]:
X['total_bedrooms'].mean()

537.8705525375618

In [150]:
#Reemplazing null values for mean
X['total_bedrooms']= X['total_bedrooms'].fillna(X['total_bedrooms'].mean())

C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\854544207.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['total_bedrooms']= X['total_bedrooms'].fillna(X['total_bedrooms'].mean())

In [151]:
X.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
ocean_proximity       0
dtype: int64

In [152]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,NEAR BAY

In [153]:
X['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [154]:
#•	Convierta la columna categórica del conjunto de datos en datos numéricos.
# Creamos las variables binarias
#Changed vblex text for numerics
X['ocean_proximity'].replace('<1H OCEAN',1, inplace=True)
X['ocean_proximity'].replace('INLAND',2, inplace=True)
X['ocean_proximity'].replace('NEAR OCEAN',3, inplace=True)
X['ocean_proximity'].replace('NEAR BAY',4, inplace=True)
X['ocean_proximity'].replace('ISLAND',5, inplace=True)

#---------------------------------------------------------------------------

C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\1023377041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ocean_proximity'].replace('<1H OCEAN',1, inplace=True)
C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\1023377041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ocean_proximity'].replace('INLAND',2, inplace=True)
C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\1023377041.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ocean_proximity'].replace('NEAR OCEAN',3, inplace=True)
C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\1023377041.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ocean_proximity'].replace('NEAR BAY',4, inplace=True)
C:\Users\CRISTIAN\AppData\Local\Temp\ipykernel_11484\1023377041.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ocean_proximity'].replace('ISLAND',5, inplace=True)

In [155]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,4
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,4
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,4
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,4
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,4

In [156]:
#Import libraries SKLEARN
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error

In [157]:
#Standarizacion de datos de prueba y de entrenamiento
scaler = StandardScaler()
X_escal = scaler.fit_transform(X)
#•	Divida los datos en un conjunto de datos de entrenamiento del 80 % y un conjunto de datos de prueba del 20 %.
X_train, X_test, y_train, y_test = train_test_split(X_escal,y,test_size=0.2, random_state=42)

In [158]:
print(X_train.shape)
print(X_test.shape)

(16512, 9)
(4128, 9)

In [160]:
#Realice una regresión lineal : 
#•Realice una regresión lineal en los datos de entrenamiento.
#•Prediga la salida para el conjunto de datos de prueba utilizando el modelo ajustado.
#•Imprima el error cuadrático medio (RMSE) de la regresión lineal.
model_regl = LinearRegression()
model_regl.fit(X_train,y_train)

# Realizamos prediccion con nuestro conjunto de test
    
y_pred = model_regl.predict(X_test)

print(f'RMSE Linear Regression: {np.sqrt(mean_squared_error(y_test, y_pred))}')

RMSE Linear Regression: 71129.35915325469

In [161]:
"""Realice la regresión del árbol de decisión :
•	Realice la regresión del árbol de decisión en los datos de entrenamiento.
•	Prediga la salida para el conjunto de datos de prueba utilizando el modelo ajustado.
•	Imprima el error cuadrático medio de la regresión del árbol de decisión."""
model_dectree = DecisionTreeRegressor()
model_dectree.fit(X_train,y_train)

# Realizamos prediccion con nuestro conjunto de test
    
y_pred = model_dectree.predict(X_test)

print(f'RMSE DecisionTree: {np.sqrt(mean_squared_error(y_test, y_pred))}')

RMSE DecisionTree: 67562.94877866928
0.0249515503875969

In [162]:
"""Realice una regresión de bosque aleatorio :
•	Realice una regresión aleatoria de bosque en los datos de entrenamiento.
•	Prediga la salida para el conjunto de datos de prueba utilizando el modelo ajustado.
•	Imprima RMSE (error cuadrático medio) de Random Forest Regression."""
model_randomforest = DecisionTreeRegressor()
model_randomforest.fit(X_train,y_train)

# Realizamos prediccion con nuestro conjunto de test
    
y_pred = model_randomforest.predict(X_test)

print(f'RMSE random forest: {np.sqrt(mean_squared_error(y_test, y_pred))}')

RMSE random forest: 68728.06373253542
0.025436046511627907